nav {
    font-size: 17px;
    
}

.hero h1 {
    font-size: 50px;
    font-weight: 500;
}

.hero p {
    font-size: 18px;
}

#text {
    margin-top: 6rem;
}

.button-no-bg {
    border: 2px solid #0076DD;
    padding: 9px 25px;
    border-radius: 45px;
    font-size: 19px;    
    transition: all 0.4s ease 0s;    
}

.button-no-bg:hover {
    color: white;
    background-color: #0076DD; /* Hex color             picker */
    box-shadow: 2px 5px 20px 5px rgba(0, 0, 0, 0.3);  
}

.button-no-bg-white {
    border: 2px solid white;
    padding: 9px 25px;
    border-radius: 45px;
    font-size: 19px;
    transition: all 0.4s ease 0s;
    color: white;
}

.button-no-bg-white:hover {
    color: black;
    background-color: white;
    box-shadow: 2px 5px 20px 5px rgba(0, 0, 0, 0.3);  
}

.hero {    
    background: linear-gradient(to right, #0032d3, #002749);
    color: white;
}

.hero img {
    animation: bounce 3s infinite ease-in-out;
}

.services {
    margin-top: 3rem;
    /*background: linear-gradient(to left, #00CDE9, #0076DD);
    color: white;*/
}

.service-card {
    margin-top: 4rem;
}

.sz-45 {
    font-size: 45px;
}

.size-20 {
    font-size: 20px;
}

.nosotros {
    margin-top: 8rem;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }    

    100% {
        transform: translateY(0);
    }
}

/*
Gradient 1: #0076DD

Gradient 2: #00CDE9

Font: #012B3D
*/
