nav {
    font-size: 17px;
}

body {
    background-color: rgb(238, 238, 238);
}

.hero h1 {
    font-size: 50px;
    font-weight: 500;
}

.hero p {
    font-size: 18px;
}

#text {
    margin-top: 6rem;
}

.button-no-bg {
    border: 2px solid #0076DD;
    padding: 9px 25px;
    border-radius: 45px;
    font-size: 19px;    
    transition: all 0.4s ease 0s;    
}

.button-no-bg:hover {
    color: white;
    background-color: #0076DD; /* Hex color             picker */
    box-shadow: 2px 5px 20px 5px rgba(0, 0, 0, 0.3);  
}

.button-no-bg-white {
    border: 2px solid white;
    padding: 9px 25px;
    border-radius: 45px;
    font-size: 19px;
    transition: all 0.4s ease 0s;
    color: white;
}

.button-no-bg-white:hover {
    color: black;
    background-color: white;
    box-shadow: 2px 5px 20px 5px rgba(0, 0, 0, 0.3);  
}

.hero {    
    background: -webkit-linear-gradient(40deg, #23026d 0%, #3d64f4 100%);
    /*background: linear-gradient(to right, #0032d3, #002749);*/
    color: white;    
}

.hero img {
    animation: bounce 3s infinite ease-in-out;
    width: 16rem;
}

.services {
    margin-top: 3rem;
    /*background: linear-gradient(to left, #00CDE9, #0076DD);
    color: white;*/
}

.service-card {
    margin-top: 4rem;
}

.sz-45 {
    font-size: 45px;
}

.size-20 {
    font-size: 20px;
}

.nosotros {
    margin-top: 8rem;
}

.card-icon {
    background-color: #0032d3;
    color: white;
    font-size: 40px;
    padding: 15px 20px;
    border-radius: 90%;
}

.step-card {
    background-color: white;
    padding: 10px 15px;
    border-radius: 6px;
    min-height: 325px;
    transition: all 0.4s ease-in-out 0s;
}

.step-card:hover {
    box-shadow: 2px 5px 20px 5px rgba(0, 0, 0, 0.3);
    animation: bounce 2s infinite ease-in-out 0s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }    

    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .step-card {
        margin-top: 2rem;
    }

    hero img {
        width: 8rem;
    }
}

/*
Gradient 1: #0076DD

Gradient 2: #00CDE9

Font: #012B3D
*/
